# Django
*.pyc
*~
__pycache__
db.sqlite3
.env
.env.local
.env.development
.env.production
.env.test
/media
/staticfiles

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual Environment
venv/
env/
myenv/

# .env
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=3306